@import '../mixins';
@import '../fnc';
@import '../variables';

.Space {
	position: relative;
	width: 100%;
	height: 200px;
	margin: 0px;
	background-size: cover;
	&-description-bg, &-description {
		position: absolute;
		width: 100%;
		height: 64px;
		bottom: 0px;
	}
	&-description-bg {
		background-color: black;
		opacity: .5;
	}
	&-description {
		color: white;
		font-size: f-em(16px);
		@include x-display-flex();
		justify-content: space-between;

		&-left {
			padding-left: 20px;
			line-height: f-em(20px);

			.available, .busy {
				padding: 1px;
				border-radius: 4px;
			}
			.available {
				background-color: $color-greee;
			}
			.busy {
				background-color: $color-grey-dark;
			}
			&-content {
				font-size: f-em(12px);
				font-weight: 700;
				color: $color-grey-light-2;
				@include x-display-flex();
				justify-content: space-between;
			}
		}

		&-right {
			padding-right: 20px;
			line-height: f-em(64px);
		}
	}
}