@import '../../fnc';
@import '../../variables';
.SpaceDetail {
	background-color: $color-grey-light;
	.SpaceDetailHead {
		.Space-description-left {
			line-height: f-em(64px);
		}
	}
	&-section {
		margin: 10px;
		border-bottom: 1px solid $color-grey-light-2;
		font-size: f-em(18px);
		line-height: f-em(25px);
		&-name {
			font-weight: 700;
		}
		&-content {
			font-size: f-em(12px);
			font-weight: 400;
		}
	}
}
