

// Fonts
$font-family: '"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif';
$font-size-16: 16px;
$font-weight-base: normal;
$font-size-base: 16px;

// Colors
$color-blue: #3da9f7;
$color-purple: #a289df;
$color-red: #f45170;
$color-greee: #51cc96;
$color-yellow: #f0cc23;
$color-brown: #5E5E5E;
$color-grey-light: #ddd;
$color-grey-light-1: #666666;
$color-grey-light-2: #999;
$color-grey-dark: #322A33;
$color-grey-light: #F2F2F2;
$color-milk: #f9f9f9;
$color-white: #ffffff;
$color-error: $color-red;


// Number of categories
$num-article-categories: 10;